[info]
name = Kibana
groups = visualization

[settings]
priority = 1

[docker]
HostConfig = {"LogConfig":{"Type": "syslog", "Config": {"syslog-address":"tcp://localhost"}}, "Links": ["Elasticsearch:elasticsearch"], "PublishAllPorts": true}
