[info]
name = Grafana
groups = visualization

[settings]
priority = 2

[docker]
HostConfig = {"LogConfig":{"Type": "syslog", "Config": {"syslog-address":"tcp://localhost"}}, "Links": ["Elasticsearch:elasticsearch"], "PublishAllPorts": true}
